<html> 
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <title>e</title>
</head>
<body>
<div class="main-container">
 {{{body}}}
</div>
</body>
</html> 