 <header class="header">
  <nav class="navbar navbar-style">
<div class="container">
<div class="navbar-hearder">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
    <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>
  <a href=""><img class="logo" src="/public/css/Grey.png"> </a>
</div>
<div class="collapse navbar-collapse" id="micon">
<ul class="nav navbar-nav navbar-right" >
  <li><a href="../home">Home</a></li>
 <li><a href="PricePlan" >Plans</a></li>
   
</ul>

</div>
</div>
  </nav>
  
</header>
   <form action="/PricePlan" method="POST">
         <h1>Total phone bill with price plan</h1>
                {{#if messages.info}}
<div style="text-align:center; " class="entry">
    <h3> {{messages.info}}</h3>
</div>
{{/if}}

{{!-- username input --}}
  <label class="name" for="Name">Name</label>
        <input
          class="inputname"
          id="input"
          type="text"
          name="name"
          placeholder="enter your name"
        />

  {{!-- priceplan dropdownmenu       --}}

  <div class="price_plans">
      <h4>Price Plans</h4>
        <input type="radio" name="radioButn" value="smsplan" />sms100
        <input type="radio" name="radioButn" value="callplan" />call100
        <input type="radio" name="radioButn" value="callWeekly" />callWeekly
      </div>
         <button type="submit" class="submit" >Allocate</button>
    <p class="response" style="text-align:center;">{{userName}} 